/* Import the Azeret Mono font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;600&display=swap");

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none; /* Ensures no underline for the link */
  color: inherit;
  /* gap: 2px; */
}

.logo-container img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.logo-text {
  font-family: "Azeret Mono", monospace; /* Apply the font */
  font-size: 20px;
  font-weight: 600;
}

.highlight {
  font-family: "Azeret Mono", monospace; /* Apply the font */
  color: #d7c178;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .logo-container {
      margin-left: 10px; /* Reduce margin for medium screens */
    }
  
    .logo-container img {
      width: 25px; /* Reduce logo size on medium screens */
      height: 25px;
    }
  
    .logo-text {
      font-size: 18px; /* Reduce text size for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .logo-container {
      margin-left: 5px; /* Reduce margin for smaller screens */
      justify-content: center; /* Center the logo on smaller screens */
    }
  
    .logo-container img {
      width: 22px; /* Further reduce logo size */
      height: 22px;
    }
  
    .logo-text {
      font-size: 16px; /* Reduce font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .logo-container {
      margin-left: 0; /* Remove margin for very small screens */
      justify-content: center; /* Center logo on very small screens */
    }
  
    .logo-container img {
      width: 20px; /* Further reduce logo size */
      height: 20px;
    }
  
    .logo-text {
      font-size: 14px; /* Further reduce text size */
    }
  }