@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");

.dashboard-page {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard-content {
  background-color: #F9FAFB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Position content at the top */
  /* align-items: center; Center content horizontally */
  height: 100vh; /* Full viewport height */
  padding-top: 15vh; /* Push content slightly lower for better placement */
  /* text-align: center; Center-align text */
}


/* Container for Greeting and Add Button */
.greeting-and-add-container {
  display: flex;
  justify-content: space-between; /* Align greeting and add button on the same row */
  align-items: center;
  width: 100%;
  /* padding: 20px; /* Space around the container */
}


/* Add Button Styling */
.add-button {
  background-color: #D9D9D9; /* Main color (Light Grey) */
  color: #3f3e39;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  transition: background-color 0.3s;
  font-family: "Fredoka", sans-serif;
  margin-top: -8vh;
  margin-right: 20px;
}

.add-button:hover {
  background-color: #4ECC5A; /* green shade on hover */
  color: #ffffff; /* White text on hover */
}

.plus-icon {
  margin-left: 5px;
  /* font-size: 1rem; */
}